# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

lib/compiled
output/*
!output/resources/
ipch/
x64/
VS2012Projects/
deploy/
*.sdf
*.opensdf
*.suo
*.log
*.exe

bin/*.dll
luaBinding.*
docs.html
src/Games/Game.pkg
