# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug/
Release/
Deploy/
ipch/
*.sdf
*.opensdf
*.suo
*.log
*.exe

lib/tolua*
bin/*.dll
luaBinding.*
docs.html
src/Games/Game.pkg